body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#wrap {
	bottom: 25%;
	margin: 0;
	position: absolute;
	top: 50px;
}

.container {
	width: 94% !important;
}

#wrap, #output {
	left: 3%;
	right: 3%;
}

.CodeMirror, #output, pre, .lines {
	line-height: 1.40em;
	font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;
}

.CodeMirror {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px 4px 4px 4px;
}

.lines {
	float: left;
	overflow: hidden;
	text-align: right;
}

.lines div {
	padding-right: 5px;
	color: lightgray;
}

.lineerror {
	color: red;
	background: #FDD;
}

#output {
	position: absolute;
	top: 77%;
	bottom: 0;
	padding: 8px;
	overflow: scroll;
}

#output .system, #output .loading {
	color: #999;
}
#output .stderr, #output .error {
	color: #900;
}
#output pre {
	margin: 0;
}

#share-url {
	margin-top: 5px;
	margin-bottom: 0;
	display: none;
	width: 300px;
}

.flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inline-block;
}